*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    list-style: none;
}


a{
    text-decoration: none;
}


$primarycolor: #e9204f;



@import '_header';
@import '_service'